<p>juego works!</p>
<a href="/">Volver al Menú Principal</a>
<div>
    <h1>Juego del Ahorcado</h1>
    <p>{{ palabrasService.mostrarLetra() }}</p>
    <p>Intentos incorrectos: {{ palabrasService.getLetrasIncorrectas() }}</p>
    @if(palabrasService.isGameOver()){
        <p >
            Juego terminado. 
            @if(palabrasService.palabraEncontrada()){
                <span>¡Ganaste!</span>
            }
            @if(!palabrasService.palabraEncontrada()){
                <span>Perdiste. La palabra era {{ palabrasService.getPalabraActual() }}.</span>
            }
            
            
        </p>
    }
    

</div>
@if(!palabrasService.isGameOver()){
    <app-teclado (letraClick)="usarLetra($event)"></app-teclado>
}

