

<div class="fondo">
    <a href="/">Volver al Menú Principal</a>
    <div class="cnt">
        <div id="imgn" class="img"></div>
    </div>
    
    
    
    <p>{{ palabrasService.mostrarLetra() }}</p>
    <p>Intentos incorrectos: {{ palabrasService.getLetrasIncorrectas() }}</p>
    @if(palabrasService.isGameOver()){
        <p >
            Juego terminado. 
            @if(palabrasService.palabraEncontrada()){
                <span>¡Ganaste!</span>
            }
            @if(!palabrasService.palabraEncontrada()){
                <span>Perdiste. La palabra era {{ palabrasService.getPalabraActual() }}.</span>
            }
            
            
        </p>
    }
    @if(!palabrasService.isGameOver()){
    <app-teclado (letraClick)="usarLetra($event)"></app-teclado>
}

</div>


